<%- include('head')-%>
<link type="text/css" href="/css/var.css" rel="stylesheet" />
<link type="text/css" href="/css/base.css" rel="stylesheet" />
<link type="text/css" href="/css/event.css" rel="stylesheet" />

<div class="event-main mt-64">
    <section class="event-header">
        <div class="event-details">
            <h2 class="event-name alatsi-regular"><%= event.title %></h2>
            <div class="event-date-address-wrapper">
                <div class="event-date-address-wrapper-container">
                    <p class="text alatsi-regular">
                        <span class="material-symbols-outlined">
                            <%= event.endDate.toString().slice(0,24) %>
                        </span>
                    </p>
                </div>
                <div class="event-date-address-wrapper-container">
                    <p class="text alatsi-regular">
                        <span class="material-symbols-outlined">
                            <%= event.addressProvince%>, <%= event.addressDetail %>
                        </span>
                    </p>
                </div>
            </div>

            <hr class="event-details-line" />
            <div class="book-ticket-btn-container">
                <p class="from">From<span class="min-price"><%= minPrice %></span> <span class="vnd">đ</span></p>
                <% let outOfTickets = true %>
                <% for (type in ticketTypes) { %>
                    <% if (type.quantity !== 0) { %>
                        <% outOfTickets = false %>
                    <% } %>
                <% } %>
                
                <% let passDate = false %>
                <% if (event.endDate <= Date.now()) { %>
                    <% passDate = true %>
                <% } %>

                <% if (!outOfTickets && !passDate) { %>
                    <a href="<%= event._id %>/booking"><button class="book-ticket-btn">Đặt ngay</button></a>
                <% } else if (outOfTickets) { %>
                    <button class="book-ticket-btn" disabled>Sold Out</button>
                <% } else { %>
                    <!-- <button class="book-ticket-btn" disabled>Sự kiện đã diễn ra</button> -->
                    <a href="<%= event._id %>/booking"><button class="book-ticket-btn">Đặt ngay</button></a>
                <% } %>
            </div>
        </div>

        <div class="event-container">
            <img src="<%= event.imgURL %>" alt="banner event" class="event-banner" loading="lazy"/>
        </div>
    </section>

    <section class="introduction">
        <div class="introduction-wrapper background-grey">
            <h3 class="event-heading-title">About</h3>
            <p class="intro-text mt-8"><%= event.description %></p>
        </div>
    </section>
    <section class="introduction mt-8">
        <div class="introduction-wrapper background-purple">
            <h3 class="event-heading-title">Ticket Information</h3>
                <% ticketTypes.forEach(type => { %>
                    <div class="ticket-type">
                        <div class="ticket-info">
                        <strong><%= type.name %></strong>
                        </div>
                        <div class="ticket-quantity">
                        <% if (type.quantity === 0) { %>
                            <div class="sold-out">Sold Out</div>
                        <% } else { %>
                            <span class="min-price font-size-med"><%= type.price %></span>
                            <span class="vnd font-size-med">đ</span>
                        <% } %>
                        </div>
                    </div>
                <% }); %>
        </div>
    </section>
    <section class="introduction mt-8">
        <div class="introduction-wrapper background-blue">
            <h3 class="event-heading-title">Organizer</h3>
            <div class="organizer-wrapper mt-8">
                <p class="organizer-text"><%= event.organizerName ? event.organizerName : 'This is organizer' %></p>
                <div class="organizer-img-wrapper">
                    <img src="<%= event.organizerImgURL ? event.organizerImgURL : 'https://salt.tkbcdn.com/ts/ds/c0/19/1e/ee5eea71c3adb464bc9481ff9f7bb161.png' %>" alt="" class="organizer-img" />
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const error = urlParams.get('error');

    if (error === 'event-expired') {
        alert('Sự kiện đã kết thúc. Bạn không thể đặt vé nữa.');
    }
</script>
<%- include('foot') -%>
